body {
  margin: 0;
}

.header {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

li {
  margin-left: 24px;
  font-size: 18px;
}

.section-one {
  background-color: #1f2937;
  padding: 0 120px;
  color: white;
  padding-bottom: 80px
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.greeting {
  display: flex;
  margin-top: 30px;
}

.greeting img {
  height: auto;
  width: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 0;
}

.greeting p {
  margin: 12px 0;
  font-size: 18px;
  color: #e5e7eb;
}

button {
  padding: 6px 24px;
  background-color: #3882f6;
  border-radius: 8px;
  border-style: none;
  color: white;
  font-weight: 700;
}

h2 {
  margin-bottom: 48px;
}

figure img {
  height: 150px;
  width: 200px;
  border-radius: 12px;
  box-sizing: border-box;
  border-color: #3883f8;
  border-width: 4px;
  border-style: solid;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 8px;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 120px;
  margin-bottom: 120px;
  margin-top: 40px;
}

.section-two-images {
  display: flex;
  justify-content: center;
  gap: 24px;
}

figcaption {
  text-align: center;
}

.section-three {
  display: flex;
  flex-direction: column;
  padding: 80px 120px;
  background-color: #e5e7eb;
}

.section-three p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

.attribution {
  display: flex;
  justify-content: flex-end;
}

.attribution .quoted {
  font-size: 18px;
  color: #1f2937;
}